// Show current page code
.block.just-right
  .container
    .row
      .col-md-12
        
        p Here is the #[a(href=page_url) view code] for this page.

        pre.prettyprint
          code.github-file(data-url=page_url)
