block vars
  - var title = 'Gulp Scaffold'

extends /layout

block content
  .jumbotron
    h1 Gulp Scaffold
    
  .row
    .col-md-12
      p.
        Scaffold to write a static website using:
        
      ul
        li
          a(href='http://jade-lang.com/') jade
        li
          a(href='http://coffeescript.org/') coffeescript
        li
          a(href='http://sass-lang.com/') scss
        li images minification
