@import 'variables';
@import 'bootstrap';
@import 'font-awesome';

h2 { margin-top: 50px; margin-bottom: 20px; }

.jumbotron {
  margin-bottom: 0;
  text-align: center;

  .gulp-icon { width: 50px; }
}

.block {
  padding-top: 50px; padding-bottom: 50px;
}

.bilboa-flower {
  background-color: $bilboa-flower; color: $seance;
  a, a:hover { color: $wisteria; }
  code { background-color: $goldenrod; color: $boston-blue; }
}

.just-right {
  background-color: $just-right; color: $pesto;
  a, a:hover { color: $cadet-blue; }
}

code.github-file {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  display: inline-block;
  padding: 15px;
}
