// Place here variables.
// You can also override bootstrap variables.
$carmine-pink: #EB4A4B;

$bilboa-flower: #AEA0F0;
$seance: #6E258A;
$wisteria: #A66BBD;
$goldenrod: #F2D365;
$boston-blue: #3D8EBF;

$just-right: #F2D2BA;
$cadet-blue: #5E9EA5;

$light-green: #87ED86;

$pesto: #8C7034;

$jumbotron-bg: $light-green;
$jumbotron-color: $carmine-pink;

$font-size-base: 15px;
