// Place here variables.
// You can also override bootstrap variables.
$carmine-pink: #EB4A4B;

$bilboa-flower: rgba(173, 158, 240, .5); // #AEA0F0
$seance: #6E258A;
$wisteria: #A66BBD;
$goldenrod: #F2D365;
$boston-blue: #3D8EBF;

$just-right: rgba(242, 210, 186, .5); // #F2D2BA
$cadet-blue: #5E9EA5;

$light-green: rgba(135, 237, 134, .5); // #87ED86

$pesto: #8C7034;

$jumbotron-bg: $light-green;
$jumbotron-color: $carmine-pink;

$font-size-base: 15px;
